

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

header {

/* background-color: aqua; */

width: 95%;

height: 15%;

margin: auto;

display: flex;
}

.headline {

/* background-color: antiquewhite; */

width: 95%;

height: 57%;

margin: auto;

display: flex;

justify-content: space-between;
}

.titlepart {

/* background-color: blue; */

width: 30%;

height: 90%;

text-align: center;

display: flex;
}
#titre {
    width: 79%;
    height: 90%;
    background-image: url(image/bgtitle.png);
    background-size: 100% 100%;
    font-size: 4vh;
    color: #06AE98;
    font-family: 'Scheherazade', cursive;
    line-height: 1.8em;
}

#logo {
    /* background-color: blue; */
    width: 4%;
    height: 90%;
    margin-left: 5%;
    background-image: url(image/logo.png);
    background-size: 100% 100%;
}

.closn {
    width: 20%;
    height: 90%;
    background-image: url(image/bgclson.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: space-evenly;
}

.trd {
    width: 16%;
    height: 75%;
    background-image: url(image/cercleBlan.png);
    background-size: 100% 100%;
    color: #023e8a;
    margin-top: 1%;
    font-size: 2.8vh;
    font-family: Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    transition-duration: 2ms;
    line-height: 2em;
}

#Al:active {
    transform: translateY(5px);
}

#En:active {
    transform: translateY(5px);
}

#Fr:active {
    transform: translateY(5px);
}

#Tr:active {
    transform: translateY(5px);
}

main {
    /* background-color: cadetblue; */
    margin: auto;
    width: 95%;
    height: 70%;
}

.question {
    /* background-color: brown; */
    width: 95%;
    height: 15%;
    margin: auto;
    display: flex;
}

.questArab {
    width: 30%;
    height: 87%;
    background-image: url(image/bgquestion.png);
    background-size: 100% 100%;
    color: black;
    font-size: 4vh;
    font-family: 'Scheherazade', cursive;
    text-align: center;
    line-height: 2em;
}

#info {
    /* background-color: yellow; */
    width: 70%;
    height: 89%;
    float: left;
    color: #0053e3;
    font-size: 2.5vh;
    line-height: 3.5em;
    font-family: Verdana, sans-serif;
    font-weight: normal;
    direction: ltr;
}



.exercice {
    /* background-color: black; */
    width: 97%;
    height: 84%;
    margin: auto;
    /* margin-top: -5%; */
}

#questA {
    width: 80%;
    height: 20%;
    color: #DA9400;
    font-size: 4.6vh;
    font-family: 'Lateef', cursive;
    margin-right: 8%;
    line-height: 2.5em;
}

.ligneA {
   
/* background-color: aquamarine; */
   
width: 52%;
   
height: 17%;
   
margin: auto;
   
text-align: center;
   
display: flex;
}

#numQuestion {
    background: url(image/bgnum.png);
    background-size: 100% 100%;
    width: 9%;
    height: 77%;
    /* margin-top: 3%; */
    line-height: 1.5em;
    font-size: 4vh;
}
.lesLettre {
    width: 41%;
    height: 67%;
    margin: auto;
    cursor: pointer;
    color: blue;
    line-height: 1.2em;
    font-size: 5vh;
    transition-duration: 2ms;
    display: flex;
    justify-content: space-around;
}

.lettre {
    width: 23%;
    height: 98%;
    background: url(image/bgletr.png);
    background-size: 100% 100%;
}
.lettre:active{
    transform: translateY(5px);
}
.mot {
    width: 33%;
    height: 88%;
    background-size: 100% 100%;
    margin: auto;
    font-size: 9vh;
    line-height: 1.5em;
    color: black;
    text-align: center;
    font-family: 'Scheherazade', serif;
}

#s {
    color: black;
    text-align: center;
    font-family: 'Scheherazade', serif;
    font-size: 9vh;
}

.LigneB {
    /* background-color: darkgoldenrod; */
    /* margin-top: 2%; */
    width: 33%;
    height: 25%;
    margin: auto;
    /* text-align: center; */
    font-size: 8vh;
    display: flex;
}


#son{
   
width: 15%;
   
height: 45%;
   
MARGIN-TOP: 6%;
   
background-image: url(image/volume.png);
   
background-size: 100% 100%;
   
cursor: pointer;
   
text-align: 0.5em;
   
transition-duration: 2ms;
}
#son:active{
    transform: translateY(5px);
}
.LigneC {
  
/* background-color: blueviolet; */
  
width: 52%;
  
height: 56%;
  
margin: auto;
}
#imgEx, #imgEx2, #imgEx3, #imgEx4, #imgEx5, #imgEx6  {
    width: 58%;
    height: 90%;
    /* margin-top: -4%; */
    margin-right: 23%;
}

footer {
    /* background-color: crimson; */
    width: 95%;
    height: 15%;
    margin: auto;
    /* margin-top: 2%; */
    display: flex;
}



.passeButton {
    width: 11%;
    height: 60%;
    margin: auto;
    /* margin-right: 45%; */
    background-image: url(image/forward\ \(2\).png);
    background-size: 100% 100%;
    font-size: 3vh;
    font-family: 'Lateef', cursive;
    text-align: center;
    color: white;
    cursor: pointer;
   
   
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: 100;
}

@keyframes example {
  0%   { left:0px; top:0px;}

 
  75%  { left:30px; top:0px;}
  100% { left:0px; top:0px;}
}

/****************RESPENSIVE*******************/

 /* Media Query for low resolution  Tablets, Ipads */
 
 @media (min-width: 481px) and (max-width: 780px) {
    .titlepart {
        /* background-color: blue; */
        width: 30%;
        height: 90%;
        text-align: center;
        display: flex;
    }
    #titre {
        width: 99%;
        height: 90%;
        background-image: url(image/bgtitle.png);
        background-size: 100% 100%;
        font-size: 4vh;
        color: #06AE98;
        font-family: 'Scheherazade', cursive;
        line-height: 1.8em;
    }
    #logo {
        /* background-color: blue; */
        width: 7%;
        height: 90%;
        margin-left: 5%;
        background-image: url(image/logo.png);
        background-size: 100% 100%;
    }
    .closn {
        width: 23%;
        height: 90%;
        background-image: url(image/bgclson.png);
        background-size: 100% 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .questArab {
        width: 40%;
        height: 87%;
        background-image: url(image/bgquestion.png);
        background-size: 100% 100%;
        color: black;
        font-size: 4vh;
        font-family: 'Scheherazade', cursive;
        text-align: center;
        line-height: 2em;
    }
    #info {
        /* background-color: yellow; */
        width: 60%;
        height: 89%;
        float: left;
        color: #0053e3;
        font-size: 2.5vh;
        line-height: 3.5em;
        font-family: Verdana, sans-serif;
        font-weight: normal;
        direction: ltr;
    }
    .passeButton {
        width: 9%;
        height: 33%;
        margin: auto;
        /* margin-right: 45%; */
        background-image: url(image/forward\ \(2\).png);
        background-size: 100% 100%;
        font-size: 3vh;
        font-family: 'Lateef', cursive;
        text-align: center;
        color: white;
        cursor: pointer;
        animation-name: example;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
   
    
}
/* Media Query for Mobile Devices */
@media (max-width: 600px) {
   
    #titre {
        width: 99%;
        height: 90%;
        background-image: url(image/bgtitle.png);
        background-size: 100% 100%;
        font-size: 3vh;
        color: #06AE98;
        font-family: 'Scheherazade', cursive;
        line-height: 2em;
    }
    .questArab {
        width: 40%;
        height: 87%;
        background-image: url(image/bgquestion.png);
        background-size: 100% 100%;
        color: black;
        font-size: 3.5vh;
        font-family: 'Scheherazade', cursive;
        text-align: center;
        line-height: 2.4em;
    }
    #info {
        /* background-color: yellow; */
        width: 60%;
        height: 89%;
        float: left;
        color: #0053e3;
        font-size: 2vh;
        line-height: 4.5em;
        font-family: Verdana, sans-serif;
        font-weight: normal;
        direction: ltr;
    }
    #numQuestion {
        background: url(image/bgnum.png);
        background-size: 100% 100%;
        width: 14%;
        height: 77%;
        /* margin-top: 3%; */
        line-height: 2.5em;
        font-size: 3vh;
    }
    .lettre {
        width: 30%;
        height: 98%;
        background: url(image/bgletr.png);
        background-size: 100% 100%;
    }
}

@media (max-width: 480px) {
    .titlepart {
        /* background-color: blue; */
        width: 39%;
        height: 90%;
        text-align: center;
        display: flex;
    }
    #logo {
        /* background-color: blue; */
        width: 11%;
        height: 90%;
        margin-left: 5%;
        background-image: url(image/logo.png);
        background-size: 100% 100%;
    }
    .closn {
        width: 31%;
        height: 90%;
        background-image: url(image/bgclson.png);
        background-size: 100% 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .questArab {
        width: 45%;
        height: 83%;
        background-image: url(image/bgquestion.png);
        background-size: 100% 100%;
        color: black;
        font-size: 3.5vh;
        font-family: 'Scheherazade', cursive;
        text-align: center;
        line-height: 2.4em;
    }
    #info {
        /* background-color: yellow; */
        width: 55%;
        height: 89%;
        float: left;
        color: #0053e3;
        font-size: 2vh;
        line-height: 2.5em;
        font-family: Verdana, sans-serif;
        font-weight: normal;
        direction: ltr;
    }
    .ligneA {
        /* background-color: aquamarine; */
        width: 65%;
        height: 17%;
        margin: auto;
        text-align: center;
        display: flex;
    }
    #numQuestion {
        background: url(image/bgnum.png);
        background-size: 100% 100%;
        width: 14%;
        height: 77%;
        /* margin-top: 3%; */
        line-height: 2.5em;
        font-size: 3vh;
    }
    .passeButton {
        width: 12%;
        height: 29%;
        margin: auto;
        /* margin-right: 45%; */
        background-image: url(image/forward\ \(2\).png);
        background-size: 100% 100%;
        font-size: 3vh;
        font-family: 'Lateef', cursive;
        text-align: center;
        color: white;
        cursor: pointer;
        transition-duration: 2ms;
    }
    
}
    @media (max-width: 350px) {
        .titlepart {
            /* background-color: blue; */
            width: 44%;
            height: 90%;
            text-align: center;
            display: flex;
        }
        #titre {
            width: 99%;
            height: 90%;
            background-image: url(image/bgtitle.png);
            background-size: 100% 100%;
            font-size: 2.5vh;
            color: #06AE98;
            font-family: 'Scheherazade', cursive;
            line-height: 2.5em;
        }
        .closn {
            width: 35%;
            height: 90%;
            background-image: url(image/bgclson.png);
            background-size: 100% 100%;
            display: flex;
            justify-content: space-evenly;
        }
        .trd {
            width: 24%;
            height: 75%;
            background-image: url(image/cercleBlan.png);
            background-size: 100% 100%;
            color: #023e8a;
            margin-top: 3%;
            font-size: 2.5vh;
            font-family: Verdana, sans-serif;
            font-weight: normal;
            text-align: center;
            cursor: pointer;
            transition-duration: 2.5ms;
            line-height: 2.2em;
        }
        .questArab {
            width: 57%;
            height: 83%;
            background-image: url(image/bgquestion.png);
            background-size: 100% 100%;
            color: black;
            font-size: 3vh;
            font-family: 'Scheherazade', cursive;
            text-align: center;
            line-height: 2.6em;
        }
        #info {
            /* background-color: yellow; */
            width: 55%;
            height: 89%;
            float: left;
            color: #0053e3;
            font-size: 2vh;
            line-height: 1.5em;
            font-family: Verdana, sans-serif;
            font-weight: normal;
            direction: ltr;
        }
        .ligneA {
            /* background-color: aquamarine; */
            width: 65%;
            height: 17%;
            margin: auto;
            text-align: center;
            display: flex;
        }
        .lettre {
            width: 31%;
            height: 98%;
            FONT-SIZE: 4VH;
            background: url(image/bgletr.png);
            background-size: 100% 100%;
        }
        .LigneB {
            /* background-color: darkgoldenrod; */
            /* margin-top: 2%; */
            width: 66%;
            height: 25%;
            margin: auto;
            /* text-align: center; */
            font-size: 8vh;
            display: flex;
        }
        .passeButton {
            width: 12%;
            height: 29%;
            margin: auto;
            /* margin-right: 45%; */
            background-image: url(image/forward\ \(2\).png);
            background-size: 100% 100%;
            font-size: 3vh;
            font-family: 'Lateef', cursive;
            text-align: center;
            color: white;
            cursor: pointer;
            transition-duration: 2ms;
        }
    
}

   
     

